{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DELTA DRIVING-Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" />
    <style>
    body{        
        background:linear-gradient( rgba(255, 255, 255, 0.8) 100%, rgba(255, 255, 255, 0.5) 100%),url("{% static 'images/banner2.png' %}");              
        background-size:100% 100%;
    }
    </style>
</head>
<body class="bg-login" style="height: 100vh; background-color: rgb(234, 245, 250);">
    <?php
    session_start();
    include_once 'msg.php'; ?>
    <a href="/" class="btn btn-primary btn-sm float-left m-2">Home</a>
        <div class="jumbotron p-3 mb-2 rounded-0 bg-transparent text-dark text-center" style="box-shadow: 0 0 5px 2px white">
            <h3 class="text-center ml-5" style="text-shadow:2px 2px 2px white;">DELTA DRIVING</h3>
            <h3 class="text-center text-uppercase" style="text-shadow:2px 2px 2px white;">Login</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 mx-auto bg-transparent text-center mt-5 border p-4 border-dark" style="box-shadow:0 0 2px 1px white;">
                    <img src="{% static 'images/logo.png' %}" style="width:200px;" class="my-2 rounded-circle"/>
                    {% if messages %}                
                    <div class="alert alert-danger text-center">    
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}                    
                    </div>
                    {% endif %}
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger border-0 text-white">
                                        <i class="fas fa-user-tie"></i></span>
                                </div>
                                <input type="text" placeholder="User ID here" name="userid" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger border-0 text-white">
                                        <i class="fas fa-key"></i>
                                    </span>
                                </div>
                                <input type="password" name="pwd" placeholder="Password here" class="form-control">
                            </div>
                        </div>                                                                     
                    <input type="submit" value="Login" class="btn btn-danger btn-block" />
                    </form>
                    <a href="/register">Not register Click here</a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>