{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DELTA DRIVING-Customer Registration</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" />
    <style>
    body{        
        background:linear-gradient( rgba(255, 255, 255, 0.8) 100%, rgba(255, 255, 255, 0.5) 100%),url("{% static 'images/banner2.png' %}");              
        background-size:100% 100%;
    }
    </style>
</head>
<body class="bg-login" style="height: 100vh; background-color: rgb(234, 245, 250);">    
        <div class="jumbotron p-3 mb-2 rounded-0 bg-transparent text-dark text-center" style="box-shadow: 0 0 5px 2px white">
            <h3 class="text-center" style="text-shadow:2px 2px 2px white;">Car Drive-The Car Rental Store</h3>
            <h5 class="text-center" style="text-shadow:2px 2px 2px white;">Customer Registration</h5>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 mx-auto bg-transparent text-center mt-5 border p-4 border-dark" style="box-shadow:0 0 2px 1px white;">
                    <img src="{% static 'images/logo.png' %}" style="width:150px;" class="my-2 rounded-circle"/>
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success border-0 text-white">
                                                <i class="fas fa-user-tie"></i></span>
                                        </div>
                                        <input type="text" required placeholder="User Name" name="uname" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success border-0 text-white">
                                                <i class="fas fa-user-tie"></i></span>
                                        </div>
                                        <input type="email" required placeholder="Email Id or User ID" name="userid" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success border-0 text-white">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </div>
                                        <input type="password" required name="pwd" placeholder="Password" class="form-control">
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success border-0 text-white">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </div>
                                        <input type="password" required name="cpwd" placeholder="Repeat Password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success border-0 text-white">
                                                <i class="fas fa-user-tie"></i></span>
                                        </div>
                                        <input type="text" required placeholder="Phone Number" name="phone" class="form-control" maxlength="10">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success border-0 text-white">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </div>
                                        <select required name="gender" class="form-control">
                                            <option value="">-- Select Gender --</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success border-0 text-white">
                                                <i class="fas fa-home"></i></span>
                                        </div>
                                        <textarea required rows="3" placeholder="Address" name="address" class="form-control"></textarea>
                                    </div>
                                </div> 
                            </div>
                        </div>
                                                                                             
                    <input type="submit" value="Register" class="btn btn-success btn-block" />
                    </form>
                    <a href="/login">Already registered login</a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>